# Ignore Python cache and virtual envs
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Environment variables (secrets)
.env

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# System files
.DS_Store
Thumbs.db
